img{
    width: 500px;
    height: auto;
}
main{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-family: 'system-ui';
    max-width: 800px;
    margin: 0 auto;
}